.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0em 0em;
    position: relative;
}

.ui-button {
    padding: .2em 0.4em;
}

#currencyWindow > fieldset {
    float: left;
    display: block;
    width: 65%;
    height: 70px;
}

    #currencyWindow > fieldset > #currlist {
        overflow: auto;
        height: 60px;
    }

#addCurrency {
    float: right;
    min-width: 100px;
    width: 100px;
}

#currency {
    width: 80px;
}

#currlist span {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding: 4px;
}

    #currlist span:hover {
        color: #777777;
    }

#tools {
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
    visibility: hidden;
}

#donations {
    position: absolute;
    bottom: 10px;
}

.tooltip{
  position:absolute;
  z-index: 255;
  background-color:white;
  height:30px;
}
