.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0 0;
  position: relative;
}

.ui-button {
  padding: .2em 0.4em;
}

.currencyWindow>fieldset {
  display: block;
  float: left;
  height: 70px;
  width: 65%;
}

.currlist {
  height: 60px;
  overflow: auto;
}

.addCurrency {
  float: right;
  min-width: 100px;
  width: 100px;
}

.currency {
  width: 80px;
}

.currlist span {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  padding: 4px;
}

.currlist span:hover {
  color: #777777;
}

.tools {
  border: 1px solid black;
  display: inline-block;
  padding: 4px;
  visibility: hidden;
}

.donations {
  bottom: 10px;
  position: absolute;
}

.tooltip {
  background-color: white;
  height: 30px;
  position: absolute;
  z-index: 255;
}
